/*========== Home Page ==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

html{
    scroll-behavior: smooth;
}

:root {
    --bg-color: #EED6D3;
    --text-color: #3B0404;
    --main-color: #FB6090;
    --white-color: #fdfdfd;
    --font-color: #391306;
    --shadow-color: rgba(0, 0, 0, .2,);

    --card-bg-color: #DE847B;
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.864);
    --line-color: #060606;

    --color-filter: invert(1);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #F9CCD3;
    --main-color: #870A30;
    --white-color: #fdfdfd;
    --font-color: #F7D6D0;
    --shadow-color: rgba(0, 0, 0, .2,);

    --card-bg-color: #3B0404;
    --box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.864);
    --line-color: rgb(88, 88, 88);

    --color-filter: invert(0);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


/*=====Header=====*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;

}

.logo img{
    filter: var(--color-filter);
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--font-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--font-color);
}

.navbar a:hover {
    color: var(--text-color);
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--font-color);
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--font-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}


/*=====Home=====*/
.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: .3;
    margin-bottom: 1rem
}

.home-content h1 {
    font-size: 7.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 4rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}


.home .hobbies-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .hobbies-container .hobbies-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hobbiesRotate 13s ease-out infinite;
}

@keyframes hobbiesRotate {
    0%,20% {
        transform: rotate(0deg);
    }

    25%,45% {
        transform: rotate(-90deg);
    }

    50%,70% {
        transform: rotate(-180deg);
    }

    75%,95% {
        transform: rotate(-2700deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home .hobbies-box .hobbies {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .hobbies-box .hobbies:nth-child(1) i {
    margin-right: 15px;
}

.home .hobbies-box .hobbies:nth-child(2),
.home .hobbies-box .hobbies:nth-child(4) {
    padding-bottom: 20px;
}

.home .hobbies i {
    font-size: 20rem;
}

.home .hobbies h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .hobbies-box .circl {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .hobbies-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    pointer-events: none;
}

/*========== About Page ==========*/
span {
    color: var(--main-color)
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img {
    width: 24vw;
}

.about-content{
    flex-basis: 60%;
    
}

.about-inside{
    border: 2px solid var(--line-color);
    padding: 20px;
    border-radius: 10px;
}

.side{
    margin-left: 2em;
    margin-bottom: 2em;
}

.heading {
    font-size: 60px;
    font-weight: 600;
    
}

.sub-heading {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-left: 1em;
}


.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content p {
    font-size: 1.7rem;
    margin: 2rem 2em 3rem 2em;
    text-align: justify;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}

.about-titles {
    display: flex;
    margin: 20px 0 40px;
}

.about-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.about-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.about-links .active-link::after {
    width: 50%;
}

/*try*/

.about2 {
    column-gap: 40px;
    width: 100%;
}


.heading2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    border: var(--text-color);
    background-color: var(--main-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.about-content2{
    flex-basis: 60%;
}

.about-content2 h2{

    line-height: 1.5;
}

.about-content2 span{
    color: var(--text-color);
}

.about-content2 p{
    font-size: 1.7rem;
    margin: 2rem 0 3rem;
    background-color: var(--main-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-width: 50%;
}


/*========== Resume Page ==========*/
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: unset;
    padding-bottom: 5rem;
}

.resume h2 {
    margin-bottom: 3rem;
}

.resume .resume-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.resume-row .resume-column {
    flex: 1 1 4rem;
}

.resume-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.resume-column .resume-box {
    border-left: .2rem solid var(--main-color);
}

.resume-box .resume-content {
    position: relative;
    padding-left: 2rem;
}

.resume-box .resume-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.resume-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.resume-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.resume-content .content:hover::before {
    width: 100%;
}

.resume-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.resume-content .content .year i {
    padding-right: .5rem;
}

.resume-content .content h3 {
    font-size: 2rem;
}

.resume-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

/*========== Profile Page ==========*/

.section2{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 2rem 2rem;
}

.sub-section{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    flex-direction: column;
}

.portfolio .container .content{
    width: 100%;
}

.get-in-touch{
    margin-top: -60px;
    margin-bottom: -100px;
}

.get-in-touch .container .content{
    width: 100%;
}

.get-in-touch .contact-card{
    position: relative;
    width: 90%;

    box-shadow: var(--box-shadow);
    padding: 50px;
    border-radius: 20px;
    column-gap: 50px
}

.contact-card .title{
    
    line-height: 60px;
}

.contact-card .title h2{
    font-size: 4em;
    font-weight: 1600;
    color: var(--font-color);
}


/**/
.skills .container .content{
    width: 100%;
}

.skills-description{
    max-width: 700px;
    margin-bottom: 50px;
    font-size: 2em;
}

.skills-description h3{
    font-size: 3em;
    margin-bottom: 5px;
}

.skills-info{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.skills-info h4{
    margin-bottom: 20px;
}

.skills-info h4 label{
    background: var(--main-color);
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 5px;
}

.education-all{
    margin-bottom: 0px;
}

.edu-list .item{
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--card-bg-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    transition: .3s ease;
    list-style-type: none;

}

.edu-list .item .year{
    font-size: 1.5em;
    margin-bottom: 5px;
    color: var(--text-color);
}

.edu-list .item p{
    color: var(--font-color);
    font-size: var(--normal-font-size);
}

.edu-list .item p span{
    color: var(--font-color);
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
}

.item .hr{
    width: 100%;
    height: 2px;
    background: var(--line-color);
    margin: 10px 0 22px;
}

/*========== Project Page ==========*/
.project {
    min-height: auto;
    padding-bottom: 7rem;
}

.project h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.main{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50px;
    margin: 0;
}

.main i {
    font-size: 10em;
    color: var(--text-color);
    padding-bottom: 20px;
}

.main h1 {
    font-size: 2em;
    color: var(--text-color);
}

.main h1 span{
    color: var(--main-color);
}

.main p {
    color: var(--font-color);
    font-size: 2em;
    margin-top: 10px;
}



/*========== Contact Page ==========*/
.contact h2 {
    margin-bottom: 5rem;
}

.contact {
    text-align: center;
    margin-bottom: 3rem;
}

.contact p {
    font-size: 3rem;
}

.contact .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.contact-container .contact-box {
    flex: 1 1 30rem;
    background: transparent;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.contact-container .contact-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.contact-box i {
    font-size: 7rem;

}

.contact-box h3 {
    font-size: 2rem;
    transition: .5s ease;
}

.contact-box p {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0 3rem;
}

/*======== Buttons ===========*/
.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color) ;
}

.btn2{
    background: var(--font-color);
    color: var(--card-bg-color);
    font-size: 2em;
    box-shadow: var(--box-shadow);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    animation: arrow-down ease 2s infinite;
    transition: .5s ease;
}

.btn2:hover{
    background: var(--main-color);
    color: var(--font-color);
}

@keyframes arrow-down{
    0%{
    transform: translateY(0);
    }
    30%{
    transform: translateY(10px);
    }
}

@keyframes arrow-right{
    0%{
    transform: translateX(0);
    }
    30%{
    transform: translateX(10px);
    }
}

.btn3{
    background: var(--font-color);
    color: var(--card-bg-color);
    
    box-shadow: var(--box-shadow);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: .8s ease;
}

.btn3:hover{
    background: var(--main-color);
    color: var(--font-color);
    transform: translateY(15px);
}


.btn3 i{
    font-size: 2em;
}


/*========== footer ==========*/
.footer {
    direction: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
    margin-top: 20px;
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
}
.footer-iconTop {
    order: 1; /* Change the order to 2 to move it to the right */
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;

    margin-top: 10px; /* Adjust the margin as needed */
    margin-left: 100%;
    
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .hobbies-container {
        height: 85.8rem;
    }
    .home .hobbies-container .hobbies-box {
        right: -12rem;
        height: 85.8rem;
    }

    .home .hobbies-container .overlay {
        right: -9rem;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }

    .home .hobbies-container .hobbies-box {
        right: -22rem;
    }

    .home .hobbies-container .overlay {
        right: -15rem;
    }

    .get-in-touch{
        margin-top: -60px;
      }
      .get-in-touch .contact-card{
        display: grid;
        width: 100%;
      }
    
      .contact-card .title{
        font-size: 0.8rem;
        line-height: 50px;
      }
    
    .contact-card .title img{
        max-width: 600px;
        width: 100%;
      }
    .center{
        display: grid;
        text-align: center;
        align-items: center;
    }
    
}

@media (max-width: 991px) {
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .hobbies-container .hobbies-box {
        right: -45rem;
    }

    .home .hobbies-container .overlay {
        right: -39.5rem;
    }

    .home-img {
        display: none;
    }

    .footer-iconTop a{
        margin-left: 90%;
    }

    .resume,
    .project {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
        
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2,);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1,);
        display: none;
    }

    .navbar.active {
        display: block;
        text-align: center;

    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .hobbies-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .hobbies-container .hobbies-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .hobbies-box .hobbies {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .hobbies-box .hobbies:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .hobbies-box .hobbies:nth-child(1) i {
        margin: 0;
    }

    .home .hobbies-box .hobbies:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .hobbies-box .hobbies:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .hobbies-box .hobbies:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .hobbies-box .circl {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .hobbies-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-content .heading{
        text-align: center;
    }

    .about-content .sub-heading{
        text-align: left;
    }

    .about-content p {
        text-align: justify;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .skills h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home {
        padding: 0 3% 30rem;
    }

    .home .hobbies-box .hobbies:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .hobbies-box .hobbies:nth-child(2) {
        transform: rotate(0deg) translate(5px, -335px);
    }

    .home .hobbies-box .hobbies:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .hobbies-box .hobbies:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -335px);
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
